<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>FormFilter</filter-name>
        <filter-class>filter.FormFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FormFilter</filter-name>
        <url-pattern>/Checkout1Servlet</url-pattern>
        <url-pattern>/Checkout2Servlet</url-pattern>
        <url-pattern>/Checkout3Servlet</url-pattern>
        <url-pattern>/Checkout4Servlet</url-pattern>
        <url-pattern>/Checkout5Servlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/ManageDashBoardServlet</url-pattern>
        <url-pattern>/InsertIngredientServlet</url-pattern>
        <url-pattern>/ManageIngredientServlet</url-pattern>
        <url-pattern>/ManageOrderInBatches</url-pattern>
        <url-pattern>/ManageOrderServlet</url-pattern>
        <url-pattern>/UpdateOrderServlet</url-pattern>
        <url-pattern>/InsertProductServlet</url-pattern>
        <url-pattern>/ManageProductServlet</url-pattern>
        <url-pattern>/UpdateProductServlet</url-pattern>
        <url-pattern>/UpdateStatusProductServlet</url-pattern>
        <url-pattern>/InsertUserServlet</url-pattern>
        <url-pattern>/ManageUserServlet</url-pattern>
        <url-pattern>/UpdateStatusUserServlet</url-pattern>
        <url-pattern>/UpdateUserServlet</url-pattern>
        <url-pattern>/InsertWeeklyPlanServlet</url-pattern>
        <url-pattern>/ManageWeeklyPlanServlet</url-pattern>
        <url-pattern>/UpdateStatusProductInWeeklyServlet</url-pattern>
        <url-pattern>/UpdateStatusWeeklyPlanServlet</url-pattern>
        <url-pattern>/UpdateWeeklyPlanServlet</url-pattern>
        <url-pattern>/MenuServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/PlansServlet</url-pattern>
        <url-pattern>/CreatePersonalPlanServlet</url-pattern>
        <url-pattern>/PersonalPlanServlet</url-pattern>
        <url-pattern>/RemovePlanServlet</url-pattern>
        <url-pattern>/UpdatePlanServlet</url-pattern>
        <url-pattern>/ChangePasswordServlet</url-pattern>
        <url-pattern>/EditProfileServlet</url-pattern>
        <url-pattern>/ProfileServlet</url-pattern>
        <url-pattern>/UpdateImageProfileServlet</url-pattern>
        <url-pattern>/AddMyAddressServlet</url-pattern>
        <url-pattern>/DeleteMyAddressServlet</url-pattern>
        <url-pattern>/MyAddressServlet</url-pattern>
        <url-pattern>/UpdateMyAddress</url-pattern>
        <url-pattern>/ApproveMyOrderServlet</url-pattern>
        <url-pattern>/CancelMyOrderServlet</url-pattern>
        <url-pattern>/DeliveryMyOrderServlet</url-pattern>
        <url-pattern>/FinishMyOrderServlet</url-pattern>
        <url-pattern>/MyOrderDetailServlet</url-pattern>
        <url-pattern>/MyOrderServlet</url-pattern>
        <url-pattern>/PendingMyOrderServlet</url-pattern>
        <url-pattern>/RefurnMyOrderServlet</url-pattern>
        <url-pattern>/RequestForCancelOrderServlet</url-pattern>
        <url-pattern>/RequestForRefurnOrderServlet</url-pattern>
        <url-pattern>/SingleProductServlet</url-pattern>
        <url-pattern>/AddToCartServlet</url-pattern>
        <url-pattern>/CartServlet</url-pattern>
        <url-pattern>/Checkout1Servlet</url-pattern>
        <url-pattern>/Checkout2Servlet</url-pattern>
        <url-pattern>/Checkout3Servlet</url-pattern>
        <url-pattern>/Checkout4Servlet</url-pattern>
        <url-pattern>/Checkout5Servlet</url-pattern>
        <url-pattern>/EditCartServlet</url-pattern>
        <url-pattern>/PromoCodeServlet</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>ManageProductServlet</servlet-name>
        <servlet-class>controller.admin.management.product.ManageProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>controller.web.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductServlet</servlet-name>
        <servlet-class>controller.admin.management.product.InsertProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.admin.management.product.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderServlet</servlet-name>
        <servlet-class>controller.admin.management.order.ManageOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <servlet-class>controller.admin.management.order.UpdateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserServlet</servlet-name>
        <servlet-class>controller.admin.management.user.ManageUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>controller.admin.management.user.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageWeeklyPlanServlet</servlet-name>
        <servlet-class>controller.admin.management.weekly_Plan.ManageWeeklyPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertWeeklyPlanServlet</servlet-name>
        <servlet-class>controller.admin.management.weekly_Plan.InsertWeeklyPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWeeklyPlanServlet</servlet-name>
        <servlet-class>controller.admin.management.weekly_Plan.UpdateWeeklyPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.web.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.web.login.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriceSelectionServlet</servlet-name>
        <servlet-class>controller.web.menu.selection.PriceSelectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeSelectionServlet</servlet-name>
        <servlet-class>controller.web.menu.selection.TimeSelectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeeklyPlanSelectionServlet</servlet-name>
        <servlet-class>controller.web.menu.selection.WeeklyPlanSelectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>controller.web.menu.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.web.profile.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controller.web.profile.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.web.menu.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleProductServlet</servlet-name>
        <servlet-class>controller.web.shop.SingleProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategorySelectionServlet</servlet-name>
        <servlet-class>controller.web.menu.selection.CategorySelectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllTimeSelectionServlet</servlet-name>
        <servlet-class>controller.web.menu.selection.AllTimeSelectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopPriceSelectionServlet</servlet-name>
        <servlet-class>controller.web.menu.selection.TopPriceSelectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopTimeSelectionServlet</servlet-name>
        <servlet-class>controller.web.menu.selection.TopTimeSelectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllPriceSelectionServlet</servlet-name>
        <servlet-class>controller.web.menu.selection.AllPriceSelectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalPlanServlet</servlet-name>
        <servlet-class>controller.web.plan.PersonalPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePersonalPlanServlet</servlet-name>
        <servlet-class>controller.web.plan.CreatePersonalPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlansServlet</servlet-name>
        <servlet-class>controller.web.plan.PlansServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePlanServlet</servlet-name>
        <servlet-class>controller.web.plan.RemovePlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlanServlet</servlet-name>
        <servlet-class>controller.web.plan.UpdatePlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.web.login.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.web.profile.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderServlet</servlet-name>
        <servlet-class>controller.web.profile.my_order.MyOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.web.shopping_cart.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout1Servlet</servlet-name>
        <servlet-class>controller.web.shopping_cart.Checkout1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartServlet</servlet-name>
        <servlet-class>controller.web.shopping_cart.EditCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAddressServlet</servlet-name>
        <servlet-class>controller.web.profile.my_address.MyAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMyAddressServlet</servlet-name>
        <servlet-class>controller.web.profile.my_address.AddMyAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMyAddress</servlet-name>
        <servlet-class>controller.web.profile.my_address.UpdateMyAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMyAddressServlet</servlet-name>
        <servlet-class>controller.web.profile.my_address.DeleteMyAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout2Servlet</servlet-name>
        <servlet-class>controller.web.shopping_cart.Checkout2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout3Servlet</servlet-name>
        <servlet-class>controller.web.shopping_cart.Checkout3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout4Servlet</servlet-name>
        <servlet-class>controller.web.shopping_cart.Checkout4Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout5Servlet</servlet-name>
        <servlet-class>controller.web.shopping_cart.Checkout5Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromoCodeServlet</servlet-name>
        <servlet-class>controller.web.shopping_cart.PromoCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusProductServlet</servlet-name>
        <servlet-class>controller.admin.management.product.UpdateStatusProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusUserServlet</servlet-name>
        <servlet-class>controller.admin.management.user.UpdateStatusUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserServlet</servlet-name>
        <servlet-class>controller.admin.management.user.InsertUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusProductInWeeklyServlet</servlet-name>
        <servlet-class>controller.admin.management.weekly_Plan.UpdateStatusProductInWeeklyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusWeeklyPlanServlet</servlet-name>
        <servlet-class>controller.admin.management.weekly_Plan.UpdateStatusWeeklyPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PendingMyOrderServlet</servlet-name>
        <servlet-class>controller.web.profile.my_order.PendingMyOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveMyOrderServlet</servlet-name>
        <servlet-class>controller.web.profile.my_order.ApproveMyOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryMyOrderServlet</servlet-name>
        <servlet-class>controller.web.profile.my_order.DeliveryMyOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishMyOrderServlet</servlet-name>
        <servlet-class>controller.web.profile.my_order.FinishMyOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelMyOrderServlet</servlet-name>
        <servlet-class>controller.web.profile.my_order.CancelMyOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefurnMyOrderServlet</servlet-name>
        <servlet-class>controller.web.profile.my_order.RefurnMyOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestForCancelOrderServlet</servlet-name>
        <servlet-class>controller.web.profile.my_order.RequestForCancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestForRefurnOrderServlet</servlet-name>
        <servlet-class>controller.web.profile.my_order.RequestForRefurnOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.web.login.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateImageProfileServlet</servlet-name>
        <servlet-class>controller.web.profile.UpdateImageProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.web.shopping_cart.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDashBoardServlet</servlet-name>
        <servlet-class>controller.admin.management.dashboard.ManageDashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertIngredientServlet</servlet-name>
        <servlet-class>controller.admin.management.ingredient.InsertIngredientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageIngredientServlet</servlet-name>
        <servlet-class>controller.admin.management.ingredient.ManageIngredientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderInBatches</servlet-name>
        <servlet-class>controller.admin.management.order.ManageOrderInBatches</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderDetailServlet</servlet-name>
        <servlet-class>controller.web.profile.my_order.MyOrderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageProductServlet</servlet-name>
        <url-pattern>/ManageProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/DispatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductServlet</servlet-name>
        <url-pattern>/InsertProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderServlet</servlet-name>
        <url-pattern>/ManageOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <url-pattern>/UpdateOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserServlet</servlet-name>
        <url-pattern>/ManageUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageWeeklyPlanServlet</servlet-name>
        <url-pattern>/ManageWeeklyPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertWeeklyPlanServlet</servlet-name>
        <url-pattern>/InsertWeeklyPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateWeeklyPlanServlet</servlet-name>
        <url-pattern>/UpdateWeeklyPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleProductServlet</servlet-name>
        <url-pattern>/SingleProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriceSelectionServlet</servlet-name>
        <url-pattern>/PriceSelectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeSelectionServlet</servlet-name>
        <url-pattern>/TimeSelectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategorySelectionServlet</servlet-name>
        <url-pattern>/CategorySelectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeeklyPlanSelectionServlet</servlet-name>
        <url-pattern>/WeeklyPlanSelectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopPriceSelectionServlet</servlet-name>
        <url-pattern>/TopPriceSelectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopTimeSelectionServlet</servlet-name>
        <url-pattern>/TopTimeSelectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllPriceSelectionServlet</servlet-name>
        <url-pattern>/AllPriceSelectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllTimeSelectionServlet</servlet-name>
        <url-pattern>/AllTimeSelectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalPlanServlet</servlet-name>
        <url-pattern>/PersonalPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePersonalPlanServlet</servlet-name>
        <url-pattern>/CreatePersonalPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePlanServlet</servlet-name>
        <url-pattern>/RemovePlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlanServlet</servlet-name>
        <url-pattern>/UpdatePlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrderServlet</servlet-name>
        <url-pattern>/MyOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartServlet</servlet-name>
        <url-pattern>/EditCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAddressServlet</servlet-name>
        <url-pattern>/MyAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlansServlet</servlet-name>
        <url-pattern>/PlansServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMyAddressServlet</servlet-name>
        <url-pattern>/AddMyAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMyAddress</servlet-name>
        <url-pattern>/UpdateMyAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMyAddressServlet</servlet-name>
        <url-pattern>/DeleteMyAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout1Servlet</servlet-name>
        <url-pattern>/Checkout1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout2Servlet</servlet-name>
        <url-pattern>/Checkout2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout3Servlet</servlet-name>
        <url-pattern>/Checkout3Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout4Servlet</servlet-name>
        <url-pattern>/Checkout4Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout5Servlet</servlet-name>
        <url-pattern>/Checkout5Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromoCodeServlet</servlet-name>
        <url-pattern>/PromoCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusProductServlet</servlet-name>
        <url-pattern>/UpdateStatusProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusUserServlet</servlet-name>
        <url-pattern>/UpdateStatusUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserServlet</servlet-name>
        <url-pattern>/InsertUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusProductInWeeklyServlet</servlet-name>
        <url-pattern>/UpdateStatusProductInWeeklyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusWeeklyPlanServlet</servlet-name>
        <url-pattern>/UpdateStatusWeeklyPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PendingMyOrderServlet</servlet-name>
        <url-pattern>/PendingMyOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveMyOrderServlet</servlet-name>
        <url-pattern>/ApproveMyOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryMyOrderServlet</servlet-name>
        <url-pattern>/DeliveryMyOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishMyOrderServlet</servlet-name>
        <url-pattern>/FinishMyOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelMyOrderServlet</servlet-name>
        <url-pattern>/CancelMyOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestForCancelOrderServlet</servlet-name>
        <url-pattern>/RequestForCancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestForRefurnOrderServlet</servlet-name>
        <url-pattern>/RequestForRefurnOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefurnMyOrderServlet</servlet-name>
        <url-pattern>/RefurnMyOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateImageProfileServlet</servlet-name>
        <url-pattern>/UpdateImageProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDashBoardServlet</servlet-name>
        <url-pattern>/ManageDashBoardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertIngredientServlet</servlet-name>
        <url-pattern>/InsertIngredientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageIngredientServlet</servlet-name>
        <url-pattern>/ManageIngredientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderInBatches</servlet-name>
        <url-pattern>/ManageOrderInBatches</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrderDetailServlet</servlet-name>
        <url-pattern>/MyOrderDetailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>
</web-app>
