.header-contain {
    margin-top: 110px;
    background-color: #f4faf2;
    padding-bottom: 20px;
    border-width: 3px;
}

.header-contain .header-menu {
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-contain .header-menu h1 {
    color: #81d34a;
}

.header-contain .weekly-nav {
    display: flex;
    justify-content: center;
}

.header-contain .weekly-nav a {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0px 10px;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: solid 1px #4b9e13;
}

.header-contain .weekly-nav span {
    font-weight: bold;
    margin-top: 5px;
}

.header-contain .weekly-nav a:hover {
    background-color: #b5ee7f;
}


.weekly-choose {
    background-color: #95d857;
}

/* Menu-category */
.menu-contain {
    margin-bottom: 20px;
}

.menu-contain .menu-category {
    display: flex;
    text-align: center;
    padding: 10px 10%;
    background: #fff;
}

.menu-contain .menu-category .menu-option img {
    width: 50%;
    background-color: #b5ee7f;
    border-radius: 50px;
    padding: 8px;
    border: #81d34a 1px solid;
    box-shadow: 0 5px 15px rgba(145, 245, 79, 0.35);
}

.menu-contain .menu-category .menu-option h4 {
    color: #656565;
}


/* menu-flex */

.menu-flex{
    display: inline-flex;
}

/* menu-main */

.menu-main {
    margin: 0px 4%;  
}

.menu-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.menu-main .menu-section .menu-box {
    height: 436px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.35);
    width: 100%;
    margin: 20px 10px;
}

.menu-main .menu-section .menu-box a {
    color: #000;
}

.menu-main .menu-section .menu-box:hover {
    transform: scale(1.01);
}

.menu-main .menu-section .menu-box img {
    width: 100%;
    height: 235px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu-main .menu-section .menu-box .menu-min {
    margin-left: 20px;
    align-items: center;
}

.menu-main .menu-section .menu-box .menu-min .menu-min-icon {
    margin-right: 3px;
}

.menu-main .menu-section .menu-box .menu-price {
    margin-right: 20px;
    color: #4b9e13;
    font-weight: bold;
    font-size: 15px;
}

.menu-main .menu-section .menu-box .menu-text {
    padding: 20px;
}

.menu-main .menu-section .menu-box .menu-text h2 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
    min-height: 56px;
}

.menu-main .menu-section .menu-box .menu-text p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}


.menu-main .menu-section .menu-box .menu-text .menu-tags small {
    font-weight: bold;
    font-size: 18px;
}

.menu-tags{
    color: #3b800d;
    background-color: #95d857;
    padding: 4px 8px;
    border-radius: 10px;
    margin-right: 10px;
}

.menu-main .menu-section .menu-box .menu-min-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* PLan menu */
.menu-plan-start {
    text-align: center;
    padding: 30px;
    background-color: #e0f7d8;
    margin-top: 20px;
}

.menu-plan-start p {
    margin-top: 10px;
    color: #656565;
}

/* Menu filter */
.menu-filter{
    border-right: 2px solid #ccc;
}

.menu-filter-block {
    margin: 25px 20px;
    width: 250px;
}

.menu-filter-block h1{
    color: #4b9e13;
}

.menu-filter-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.filter-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filter-option a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit; /* Để giữ nguyên màu chữ mặc định */
}

.radio-circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #3b800d;
    margin-right: 8px;
}

.radio-circle.selected {
    background-color: #95d857;
}


.header-i{
    margin-right: 10px;
}

.form-i{
    margin: 0px 10px;
}

/* Search */
.search-container {
    padding: 20px;
    border-radius: 5px;
}

.search-container .form-group {
    margin-bottom: 1rem;
}

.search-container .input-group-lg>.form-control,
.search-container .input-group-lg>.input-group-append>.btn {
    height: calc(2.875rem + 2px);
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

/* Label styling */
.search-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #4b9e13;
}

/* Select2 styling */
.select2 {
    width: 100% !important;
    height: 30px;
    border-radius: 10px;
}


/* Styling for search-main and search-main-box */
.search-main {
    display: flex;
    justify-content: center;
}

.search-main-box {
    width: 100%;
}

/* Styling for search-type, search-sort, and search-order */
.search-type {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.search-sort,
.search-order {
    flex: 1;
    margin-right: 1rem;
}

.search-sort:last-child,
.search-order:last-child {
    margin-right: 0;
}

/* Styling for search-input and search-button */
.search-input {
    display: flex;
    width: 100%;
}

.search-input-box {
    flex: 1;
    height: calc(2.875rem + 2px);
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem 0 0 0.3rem;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
}

.search-button-box {
    display: flex;
}

.search-button {
    background-color: #81d34a;
    color: white;
    border: none;
    border-radius: 0 0.3rem 0.3rem 0;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button:hover {
    background-color: #3b800d;
}

/* Customizing the search icon */
.fa-search {
    margin-right: 0.5rem;
}