.main-password{
    width: 834px;
    height: 450px;
    margin-left: 10px;
}

.eye-icon{
    width: 6%;
    margin-right: 20px;
    color: hsl(0, 0%, 50%);
    cursor: pointer;
}

.hidden-icon{
    display: none;
}